{
    "name": "source-table-from-mysql-to-postgres-3",
    "config": {
        "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
        "connection.url": "{{ source_connection_url }}",
        "table.whitelist": "employee-3",
        "mode": "{{ source_connector_mode }}",
        "topic.prefix": "{{topic_prefix}}",
        "key.converter.schema.registry.url": "{{key_converter_schema_registry_url}}",
        "value.converter.schema.registry.url": "{{value_converter_schema_registry_url}}",
        "batch.size": "{{batch_size}}",
        "acks": "{{acks}}"
    }
}